<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python UI with Flask</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <p style="color: whitesmoke;">MY PERSONAL ASSISTANT JARVIS(CRISTY)</p>

    <h1>MY PERSONAL ASSISTANT JARVIS(CRISTY)</h1>
    <div style="display: grid; place-items: center; height: 100vh;">
    <img src="spectrum.gif" alt="Animated GIF"width="500" height="500">
    </div>
    

</body>
</html>
